.main{
    margin: 40px auto;
}
.main .titl-wrap{
    background: #EEEEEE;
    padding: 30px 40px 0;
}
.l2{
    margin: 30px auto 50px;
}
.main .content{
    padding: 10px;
    margin-bottom: 20px;
}
.main .content img,.main .content .cts{
    vertical-align: top;
    display: inline-block;
}
.main .content .cts{
    /*float: right;*/
    display: inline-block;
    width: 835px;
    padding-left: 30px;

}
.main .content h4{
    font-size: 18px;
    color: #229e84;
    margin-bottom: 10px;

}
.main .content p{
    color: #9a9a9a;
}
.main .other{
    height: 40px;
    padding: 10px 0 0 0;
    border-top: 1px dashed #9a9a9a;
    color: #000000;
}
.main .other .icon1,.main .other .icon2,.main .other .icon3,.main .other .icon4{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    margin: 0 10px;
    font-weight: bold;
}
.main .other .icon1{
    background: url("i/wiki_1.png");
    background-position: 0 center;
    background-repeat: no-repeat;
}
.main .other .icon2{
    background: url("i/wiki_2.png");
    background-position: 0 center;
    background-repeat: no-repeat;
}
.main .other .icon3{
    background: url("i/wiki_3.png");
    background-position: 0 center;
    background-repeat: no-repeat;
}
.main .other .icon4{
    background: url("i/wiki_4.png");
    background-position: 0 center;
    background-repeat: no-repeat;
}
.other .sec{

    float: right;
    font-size: 14px;
}
.titl-wrap .other .sec a{
    display: inline-block;
    padding: 4px 0 0 12px;
    color: #000000;
}

/*ÒÆÃñÏîÄ¿*/
.ymxm{
    margin-top: 20px;
}
.ymxm li{
    width: 234px;
    height: 310px;
    margin: 0 2px 20px 0;
}
.ymxm li.fr{
    margin: 0;
}
.ymxm li img{
    border-radius: 3px;
}
.ymxm li a{
    padding: 6px;
    display: block;
}
.ymxm li a:hover{
    background:url("../img/border.png") ;
    background-repeat: no-repeat;
}

.ymxm h4,.hwfc h4{
    margin: 8px 0 2px;
    font-size: 14px;
    color: #000000;
    height: 20px;
    overflow: hidden;
    font-weight: normal;
}
.ymxm p,.hwfc p{
    margin-top: 8px;
    height: 70px;
}
.ymxm .field5 span{
    color: #1d8a73;
}
.ymxm .field5 .fr{
    padding-left: 26px;
    background: url("i/dollar.png");
    background-repeat: no-repeat;
    background-position: 0px center;
}
.ymxm .field6 .tx1,.ymxm .field6 .tx2{
    display: block;
    border: 1px solid #AEAEAE;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.ymxm .field6 .tx1{
    width: 130px;
    background: url("i/touziyimin.png");
    background-repeat: no-repeat;
    background-position: 20px center;
}
.ymxm .field6 .tx2{
    width: 70px;
    border-left: none;
    padding-left: 16px;
    background: url("i/play.png");
    background-repeat: no-repeat;
    background-position: 16px center;
}
.news{
    float: left;
    width: 720px;
}
.dds{
    float: right;
}
.news .ctitle{
    background: url("i/line.png") repeat-x 0 40px;
    height: 60px;
    line-height: 40px;
}
.news .ctitle,.news .ctitle .title{
    border: none;
    background-color: transparent;

    }
.news .ctitle .title{
    color: #219E84;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}
.news .ctitle .more{
    height: 40px;
    line-height: 40px;
}
.news-middle-title .title-des{
    padding-top: 10px;
    font-weight: normal;
    font-size: 12px;
    border:none;
}
/*.news-middle-title .title-des a{
   // color: #1d8a73;
}*/

.code-r,.newsTime{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #1d8a73;
}
.newsTime{
    width: 60px;
    color: lightgrey;
}
.news-middle-title .section{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #848484;
}
.news-middle-title .section a .fr{
    width: 540px;
    height: 127px;
}
.news-middle-title .section a h5{
    margin: 12px 0;
    font-size: 18px;
    color: #000000;
}
.news-middle-list li{
    float: left;
    height: 21px;
    line-height: 21px;
    width:360px;
}
.news-middle-list{
    list-style: inside;
}