.sec .type1{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d7d7d7;
}
.sec .type1 span{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0 2px;
    cursor: pointer;
}
.sec .type1 .ele1{
    color: #219e84;
    width: 62px;
    background: url("i/pro_1.png") 0 center no-repeat;
    text-align: center;
}
.sec .type1 .ele2{
    border: 1px solid #dddddd;
    color: #000000;
    background: url("i/pro_0.png") 6px center no-repeat #ffffff;
    padding: 0 8px 0 24px;
}

.sec .type1 .ele2.bt{
    border: 1px solid #000000;
    color: #ffffff;
    background: url("i/pro_2.png") 6px center no-repeat #219E84;
    padding: 0 8px 0 24px;
}
.sec .type2{
    border: none;
}
.sec .type2 .col1,.sec .type2 .col2,.sec .type2 .col3{
    display: inline-block;
}
.sec .type2 .col1,.sec .type2 .col2{
    border: 1px solid #d7d7d7;
    height: 24px;
    line-height: 24px;
    padding-right: 20px;
    background: #ffffff;
}
.col1 .ele3{
    background: url("i/pro_3.png") no-repeat 6px center #ffffff;
    padding: 0 6px 0 30px;
}
.col1 span.ele4{
    background: url("i/up.png") no-repeat right center #ffffff;
    padding: 0 14px 0 6px;
    margin: 0 8px;
}
.col1 .ele4.bt{
    background: url("i/down.png") no-repeat right center #ffffff;
}
.sec .type2 .col2{
    margin: 0 20px;
    padding:0 ;
}
.sec .type2 .col2 input{
    width: 280px;
    height: 24px;
    line-height: 24px;
    border: none;
    background: none;
    text-indent: 20px;
    outline: none;
}
.sec .type2 .col2 .ele6{
    background: #219E84;
    padding: 0 24px;
    color: #ffffff;
}
.sec .type2 .col2 input,.sec .type2 .ele6{
    display: inline-block;
    vertical-align: top;
}
.sec .type2 .col3{
    float: right;
    padding-right: 14px;
}
.sec .type2 .col3 .nums{
    color:#219E84 ;
}
.house-list{
    margin: 30px 0 50px;
}
.house-list li{
    width:575px ;
    height: 275px;
    /*margin-right: 10px;*/
}
.house-list .h-desc,.house-list .h-btn{
    border: 1px solid #d7d7d7;
}
.house-list .h-btn{
    border-top: none;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
}
.house-list .fl em{
    color: red;
}
.house-list .h-btn span{
    padding: 0 4px;
}
.house-list .h-desc .h-r{
  display: inline-block;
    width: 175px;
    padding-left: 6px;
    height: 200px;
}

.house-list .h-desc .h-r,.house-list .h-desc img{
    vertical-align: top;
}
.h-r h4{
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0;
}
.h-r em{
    color: #000000;
}
.h-r p{
    line-height: 24px;
}
.h-btn a,.house-list .fr em{
    color: #219E84;
    padding: 0 10px;
}