.body-info{
    margin-top: 30px;
    margin-bottom: 60px;
}

.body-info .news-left{
    float: left;
}
.body-info .news-left .news-left-tab {
    display: none;
}
.body-info .news-left .news-left-tab.show {
    display: block;
}
.news-left,.news-middle,.news-right{
    height:410px;
    float: left;
}
.news-left{
    width: 354px;
}
.news-middle{
    width: 390px;
}
.news-right{
    width: 316px;
}
.news-left,.news-middle{
    margin-right: 60px;
}
.news-left .ct{
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.news-left .ct a,.news-right .ct a{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    margin:0 3px;
    height: 34px;
    line-height: 34px;
}
.news-left .ct a{
    width: 82px;
}
.news-right .ct a{
    width: 120px;
}
.news-left .ct a:hover,.news-right .ct a:hover{
    color: #FFFFFF;
}
.news-left-list{
    margin-top: 20px;
}
.news-left-list li{
    height: 26px;
    line-height: 26px;
}
.news-left-list a{
    color:#4C4C4C ;
}
.news-left-list a:hover{
    color:#767676 ;
}
.news-left-title{
    padding-top: 20px;
}

.news-left-title .title-head h5{
    width: 200px;
    height: 44px;
    margin: 12px 0;
}
.news-left .title-des{
    border-bottom: 1px solid #d7d7d7;
    word-wrap: break-word;
    padding-bottom: 20px;
}
.news-middle{
    border-top: 3px solid #219E84;
}
.news-middle-section{
    height: 30px;
    line-height: 30px;
}
.news-middle-section span,.news-middle-section a,.news-middle-section i{
    display: inline-block;
}
.news-middle-section i{
    width: 23px;
    height: 30px;
    background: url(i/section1.png);
    background-repeat: no-repeat;
    background-position: 0 8px;
    float: left;
    margin: 0 10px;

}
.news-middle-section span{
    width:130px ;
    float: left;
    background: #219E84;
    color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.news-middle-section a{
    width:30px ;
    float: right;
}

.news-middle-title .title-des{
    padding-top: 10px;
    font-weight: 100;
    font-size: 12px;
    border:none;
}
/*.news-middle-title .title-des a{
   // color: #1d8a73;
}*/

.code-r,.newsTime{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #1d8a73;
}
.newsTime{
    width: 60px;
    color: lightgrey;
}
.news-middle-title section{
    margin: 20px 0;
}
.news-middle-title section a .fr{
    width: 200px;
    height: 127px;
}
.news-middle-title section a .fr h5{
    margin: 12px 0;
}
.news-middle-list li{
    height: 21px;
    line-height: 21px;
}
.news-right .ct{
    margin-bottom: 20px;
}
.news-right-list li{
    margin-top: 15px;
    height: 40px;
    border-bottom: 1px dashed #767676;
}
.news-right-list li a{
    display: block;
    width:100% ;
    height: 40px;
}
.news-right-list li a span{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #1d8a73;
    border-radius: 3px;
}
.news-right-list li a h5{
    width: 230px;
    padding-right: 10px;
}
.news-right-tab.show{
    display: block;
}
.news-right-tab{
    display: none;
}
/*��Ŀ����*/
.body-info .w .ys-btn{
    width: 240px;
    height: 366px;
}
.body-info .w .ys-btn a{
    display: block;
    height: 60px;
    line-height: 54px;
    background:#4C4C4C;
    border-bottom: 1px solid #767676;
}
.body-info .w .ys-btn a.bt{
    background:#1d8a73 ;
}
.body-info .w .ys-btn a span{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    text-align: center;
}
.body-info .w .ys-btn a .txt{
    width: 100px;
    color: #ffffff;
    font-size: 16px;

}
.body-info .w .ys-btn a img{
    vertical-align: middle;
}
.body-info .w .ys-desc{
    width: 940px;
    height: 366px;
    
}
.body-info .w .ys-desc .item{
    width: 386px;
    height: 296px;
    top: 40px;
    right: 40px;
}
.ys-desc .item h4,.ys-desc .item p,.ys-desc .item .btn span{
    color: #ffffff;
    background:#4C4C4C;
    border-radius: 3px;
}
.ys-desc .item h4{
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-weight: 100;
}
.ys-desc .item p{
    margin: 10px 0;
    padding: 20px;
    line-height: 26px;
    height: 130px;
}
.ys-desc .item .btn span{
    display: inline-block;
    width: 156px;
    height: 46px;
    line-height: 46px;
    margin: 0 18px;
    text-align: center;
    font-size: 16px;
}
/*������Ŀר��*/
.tline .list {
    margin-left: 10px;
    float: left;
}
.tline .list a {
    float: none;
    margin: 0 6px;
    line-height: 30px;
}
.ymxm{
    margin-top: 20px;
}
.ymxm li{
    width: 220px;
    height: 310px;
    padding: 7px;

}
.ymxm li img{
    border-radius: 3px;
}
.ymxm li.over{
    border: 1px solid grey;
    border-radius: 3px;
}
.ymxm h4{
    margin: 8px 0 2px;
    font-size: 14px;
    color: #000000;
    height: 20px;
    overflow: hidden;
    font-weight: 100px;
}
.ymxm p{
    margin-top: 8px;
    height: 90px;
}