@charset "UTF-8";
.body-info{
    margin-bottom: 60px;
}
.banner{

}
.banner img{
    display: block;
    width: 100%;
}

.body-info .news-left{
    float: left;
}
.body-info .news-left .news-left-tab {
    display: none;
}
.body-info .news-left .news-left-tab.show {
    display: block;
}
.news-left,.news-middle,.news-right{
    height:410px;
    float: left;
}
.news-left{
    width: 354px;
}
.news-middle{
    width: 390px;
}
.news-right{
    width: 316px;
}
.news-left,.news-middle{
    margin-right: 60px;
}
.news-left .ct{
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.news-left .ct a,.news-right .ct a{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    margin:0 3px;
    height: 34px;
    line-height: 34px;
}
.news-left .ct a{
    width: 82px;
}
.news-right .ct a{
    width: 120px;
}
.news-left .ct a:hover,.news-right .ct a:hover{
    color: #FFFFFF;
}
.news-left-list{
    margin-top: 20px;
}
.news-left-list li{
    height: 26px;
    line-height: 26px;
}
.news-left-list a{
    color:#4C4C4C ;
}
.news-left-list a:hover{
    color:#767676 ;
}
.news-left-title{
    padding-top: 20px;
}

.news-left-title .title-head h5{
    width: 200px;
    height: 44px;
    margin: 12px 0;
}
.news-left .title-des{
    border-bottom: 1px solid #d7d7d7;
    word-wrap: break-word;
    padding-bottom: 20px;
}
.news-middle-section{
    height: 30px;
    line-height: 30px;
}
.news-middle-section span,.news-middle-section a,.news-middle-section i{
    display: inline-block;
}
.news-middle-section i{
    width: 23px;
    height: 30px;
    background: url(i/section1.png);
    background-repeat: no-repeat;
    background-position: 0 8px;
    float: left;
    margin: 0 10px;

}
.news-middle-section span{
    width:130px ;
    float: left;
    background: #219E84;
    color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.news-middle-section a{
    width:30px ;
    float: right;
}

.news-middle-title .title-des{
    padding-top: 10px;
    font-weight: normal;
    font-size: 12px;
    border:none;
}
/*.news-middle-title .title-des a{
   // color: #1d8a73;
}*/

.code-r,.newsTime{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #1d8a73;
}
.newsTime{
    width: 60px;
    color: lightgrey;
}
.news-middle-title section{
    margin: 20px 0;
}
.news-middle-title section a .fr{
    width: 200px;
    height: 127px;
}
.news-middle-title section a .fr h5{
    margin: 12px 0;
}
.news-middle-list li{
    height: 21px;
    line-height: 21px;
}
.news-right .ct{
    margin-bottom: 20px;
}
.news-right-list li{
    margin-top: 15px;
    height: 40px;
    border-bottom: 1px dashed #767676;
}
.news-right-list li a{
    display: block;
    width:100% ;
    height: 40px;
}
.news-right-list li a span{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #1d8a73;
    border-radius: 3px;
}
.news-right-list li a h5{
    width: 230px;
    padding-right: 10px;
}
.news-right-tab.show{
    display: block;
}
.news-right-tab{
    display: none;
}
/*锟斤拷目锟斤拷锟斤拷*/
.body-info .w .ys-btn{
    width: 240px;
    height: 366px;
}
.body-info .w .ys-btn a{
    display: block;
    height: 60px;
    line-height: 54px;
    background:#4C4C4C;
    border-bottom: 1px solid #767676;
}
.body-info .w .ys-btn a.bt{
    background:#1d8a73 ;
}
.body-info .w .ys-btn a span{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    text-align: center;
}
.body-info .w .ys-btn a .txt{
    width: 100px;
    color: #ffffff;
    font-size: 16px;

}
.body-info .w .ys-btn a img{
    vertical-align: middle;
}
.body-info .w .ys-desc{
    width: 940px;
    height: 366px;
    
}
.body-info .w .ys-desc .item{
    width: 386px;
    height: 296px;
    top: 40px;
    right: 40px;
}
.ys-desc .item h4,.ys-desc .item p,.ys-desc .item .btn a{
    color: #ffffff;
    background:#4C4C4C;
    border-radius: 3px;
}
.ys-desc .item h4{
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-weight: normal;
}
.ys-desc .item p{
    margin: 10px 0;
    padding: 20px;
    line-height: 26px;
    height: 130px;
}
.ys-desc .item .btn a{
    display: inline-block;
    width: 156px;
    height: 46px;
    line-height: 46px;
    margin: 0 18px;
    text-align: center;
    font-size: 16px;
}
/*锟斤拷锟斤拷锟斤拷目专锟斤拷*/
.tline .list {
    margin-left: 10px;
    float: left;
}
.tline .list a {
    float: none;
    margin: 0 6px;
    line-height: 30px;
}
.ymxm,.hwfc{
    margin-top: 20px;
}
.hwfc li img{
    border:1px solid grey;
    padding: 6px;
}
.ymxm li{
    width: 224px;
    height: 310px;
    padding: 6px;
}
.ymxm li img{
    border-radius: 3px;
}
.ymxm li.over{
    /*border: 1px solid grey;
    border-radius: 3px;*/
    background:url("../img/border.png") ;
    background-repeat: no-repeat;
}
.ymxm h4,.hwfc h4{
    margin: 8px 0 2px;
    font-size: 14px;
    color: #000000;
    height: 20px;
    overflow: hidden;
    font-weight: normal;
}
.ymxm p,.hwfc p{
    margin-top: 8px;
    height: 70px;
}
.ymxm .field5 span{
    color: #1d8a73;
}
.ymxm .field6 .tx1,.ymxm .field6 .tx2{
    display: block;
    border: 1px solid #AEAEAE;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.ymxm .field6 .tx1{
    width: 130px;
}
.ymxm .field6 .tx2{
    width: 86px;
    border-left: none;
}
/*锟斤拷锟解房锟斤拷*/
.hwfc{
    width: 940px;
    height: 418px;
}
.hwfc li{
    width: 220px;
    height: 210px;
    margin: 6px;
}
.hwfc li span{
    display: block;
    padding-left: 20px;
}
.hwfc li h4{
    color: #1d8a73;
    font-weight: bold;
}

.hwfc li h3{
    display: inline;
    color: red;
    font-size: 16px;
}
.hwfc li .price,.hwfc li h3{
    height: 30px;
    line-height: 30px;
}
.hwfc-ad{
    width: 224px;
    height: 418px;
    background: grey;
    margin-top: 20px;
}
/*锟斤拷锟斤拷之路*/
.ymzl{
    width: 798px;
    height: 350px;
}
.ymzl-ask{
    width:360px ;
    height: 350px;
}
.ymzl-q-a{
    margin-top: 20px;
}
.ymzl-q-a li{
    margin-bottom: 20px;
}
.ymzl-q-a li .ask,.ymzl-q-a li .que{
    line-height: 30px;
    padding-left: 60px;

}
.ymzl-q-a li .ask{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background: url("i/icon-a.png") 20px center no-repeat;
}
.ymzl-q-a li .que{
    line-height: 24px;
    background: url("i/icon-q.png") 20px 4px no-repeat;
}
.ymzl-tab-btn{
    margin: 20px 0;
}
.ymzl-tab-btn a{
    display: inline-block;
    text-align: center;
    width: 196px;
    height: 40px;
    line-height: 40px;
    background: #eeeeee;
    border: 1px solid #e0e0e0;
    border-right: none;
    font-size: 16px;
}
.ymzl-tab-btn a.borderEnd{
    border-right: 1px solid #e3e6ed;
}
.ymzl-tab-btn a.over{
    background: none;
    border-bottom:none;
    font-size: 16px;
}
.ymzl-hot-con{
    margin-right: 100px;
    width: 600px;
    height: 66px;
}
.ymzl-hot-con h5{
    font-size: 16px;
    color: #000000;
    height: 30px;
}
.ymzl-hot-list li{
    width: 50%;
    float: left;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed lightgrey;
}
.ymzl-tab{
    display: none;
}
.ymzl-tab.show{
    display: block;
}