.wiki .list-ti{
    border-bottom:3px solid #3f4244 ;
}

.wiki h5{
    font-weight: normal;
    display: inline-block;
    font-size: 20px;
    border-bottom:3px solid #219e84 ;
    width: 200px;
}
.wiki .list-ti,.wiki h5{
    height: 60px;
    line-height: 60px;
}
.wiki .list-ti .unit{
    width: 800px;
    display: inline-block;
    font-size: 20px;
    color: #000000;
    padding-left: 100px;
}
.wiki .list-ti .unit span{
    cursor: pointer;
    display: inline-block;
    padding: 0 40px;
    height: 71px;
}
.wiki .list-ti .unit span.bt{
    color: #219E84;
    background: url("i/gicon.png") no-repeat center 49px;
}
.wiki-list{
    margin: 30px 0;
    width: 1200px;
}
.wiki-list .item{
    width: 221px;
    height: 266px;
    margin:0 19px 20px 0;
    background: url("i/wiki_9.png") no-repeat;
}
.wiki-list .item a{
    display: block;
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin: 12px auto;
    padding-left: 50px;
    font-size: 18px;
}
.wiki-list .item h2{
    color: #ffffff;
    text-align: center;
    padding: 20px 0 16px;
}
.wiki-list .item .a1{

    background: url("i/wiki_11.png") no-repeat 10px center #ffffff;

}
.wiki-list .item .a2{
    background: url("i/wiki_10.png") no-repeat 10px center #ffffff;
}
.wiki-list .item .a3{
    background: url("i/wiki_12.png") no-repeat 10px center #ffffff;

}